.parallax {
	background-image: url('1.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
}

.bgimg-1 {
	background-image: url('1.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.bgimg-2 {
	background-image: url('2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.bgimg-3 {
	background-image: url('3.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

h1 {
	font-size: 3em;
	margin: 0;
	padding: 200px 0;
	text-align: center;
    color: rgb(61, 60, 59);
}
p {
	font-size: 3em;
	margin: 0;
	padding: 200px 0;
	text-align: center;
    font-style: oblique;
    color: rgb(223, 155, 238);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10cap;
}
